.footer {
    width: 80vw;
    margin: 50px 10vw;
    
  
    .top {
      display: flex;
      gap: 50px;
  
      .item {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: justify;
        font-size: 14px;
  
        h1{
          font-size: 18px;
          font-weight: 500;
          color: #555;
        }
  
        span{
          color: gray;
        }
      }
    }
  
    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 50px;
     
  
        .logo{
          color: #235b17;
          font-weight: bold;
          font-size: 24px;
        }
  
        .copyright{
          margin-left: 20px;
          font-size: 18px;
          color: gray;

          .name{
            color: #235b17;
          }
        }

        
     
    }
  }